@import '_variables';

@media (max-width: $bp-sm) {
  body {
    padding: 0 $mobile-side-padding;
  }
}
@media (min-width: $bp-sm) {
  body {
    padding: 0 $desktop-side-padding;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--v-theme-main-grey));
}

.Tabs--text {
  text-transform: none;
  text-decoration: none;
}

.fullScreenCard {
  width: 100%;
  height: 100%;
  background-color: red;
}

.v-tooltip .v-overlay__content {
  background-color: rgb(var(--v-theme-main-grey)) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.ContentCard {
  border-radius: 5px;
  border: 1px solid rgb(var(--v-theme-light-blue));
}

.ContentCard__title {
  display: flex;
  align-items: center;
  color: rgb(var(--v-theme-main-grey));
  font-size: 1.2rem;
  flex-shrink: 0;
  font-weight: bold;
}
