@import '_variables';

@media (max-width: $bp-sm) {
  body {
    padding: 0 $mobile-side-padding;
  }
}
@media (min-width: $bp-sm) {
  body {
    padding: 0 $desktop-side-padding;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--v-theme-main-grey));
}

.Tabs--text {
  text-transform: none;
  text-decoration: none;
}

.fullScreenCard {
  width: 100%;
  height: 100%;
}

.v-tooltip .v-overlay__content {
  background-color: rgb(var(--v-theme-main-grey)) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.PageTitle {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(var(--v-theme-main-grey));
}

.PageSubtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(var(--v-theme-main-grey));
}

.ContentCard {
  border-radius: 5px;
  border: 1px solid rgb(var(--v-theme-light-blue));
}

.ContentCard__title {
  display: flex;
  align-items: center;
  color: rgb(var(--v-theme-main-grey));
  font-size: 1.2rem;
  flex-shrink: 0;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(var(--v-theme-light-blue));
}

.ContentCard__content {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;
  color: rgb(var(--v-theme-dark-grey));
}
.ContentCard__contentTitle {
  font-weight: bold;
  font-size: 1rem;
}
.ContentCard__contentText {
  font-size: 0.9rem;
}

.Form {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  height: calc(100vh - 64px);
}
.Form__categoryCtn {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--v-theme-light-grey)) transparent;
}
.Form__fields {
  margin-top: 2rem;
  flex: 1;

  &--noMargin {
    margin-top: 0;
  }
}
.Form__fieldsTitle {
  display: flex;
  align-items: center;
  color: rgb(var(--v-theme-main-grey));
  flex-shrink: 0;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Header__bannerLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(var(--v-theme-main-grey));
  text-decoration: none !important;
}
.Header__langSelector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  margin-top: 0.25rem;

  &__item {
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__separator {
    color: rgb(var(--v-theme-main-grey));
    user-select: none;
  }

  &--active {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(var(--v-theme-light-blue));
  }
}

.MapBackground {
  background: radial-gradient(circle, #314c67 0%, #000000 100%);
}
