@import '_variables';

@media (max-width: $bp-sm) {
  body {
    padding: 0 $mobile-side-padding;
  }
}
@media (min-width: $bp-sm) {
  body {
    padding: 0 $desktop-side-padding;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--v-theme-main-grey));
}

.Tabs--text {
  text-transform: none;
  text-decoration: none;
}
